@font-face {
  font-family: "iconfont"; /* Project id 3994895 */
  src: url('iconfont.woff2?t=1680541968445') format('woff2'),
       url('iconfont.woff?t=1680541968445') format('woff'),
       url('iconfont.ttf?t=1680541968445') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconzhengli_tiaozhuan:before {
  content: "\e648";
}

.icon-tiaozhuan:before {
  content: "\e685";
}

.icon-yidong:before {
  content: "\e622";
}

.icon-yidong1:before {
  content: "\e623";
}

.icon-tiaozhuan-zhuanqu:before {
  content: "\e823";
}

.icon-tiaozhuan1:before {
  content: "\e695";
}

.icon-lianjie2:before {
  content: "\e602";
}

.icon-lianjie3:before {
  content: "\e6c8";
}

.icon-lianjie4:before {
  content: "\e63f";
}

.icon-lianjie:before {
  content: "\e600";
}

